<%= form_for(@trip) do |f| %>
  <% if @trip.errors.any? %>
    <%= render partial: "shared/create_errors", locals: {object: @trip, name:"trip"} %>
  <% end %>

  <div class="input-group stpad">
    <span class="input-group-addon addon3">Number</span>
    <%= f.text_field :number,class:"form-control" %>
  </div>

  <div class="input-group stpad">
    <span class="input-group-addon addon3">Origin</span>
    <%= f.select :origin_id, options_for_select(@station_options,:selected=>@trip.origin_id),{}, {:class => 'form-control'} %>
  </div>

  <div class="input-group stpad">
    <span class="input-group-addon addon3">Destination</span>
    <%= f.select :destination_id, options_for_select(@station_options,:selected=>@trip.destination_id),{}, {:class => 'form-control'} %>
  </div>

  <div class="input-group stpad">
    <span class="input-group-addon addon3">Info</span>
    <%= f.text_area :info, class:"form-control", :rows => "2",placeholder:"Optional" %>
  </div>


  <br>
  <div class="text-center stpad">
    <%= link_to '<i class="fa fa-arrow-left" aria-hidden="true"></i> Cancel'.html_safe, trips_path, class:"btn btn-default" %>
    <button role="button" type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-send"></i> Submit</button>

  </div>
<% end %>
