<tr>
	<td><%= trip.updated_at.strftime("%d/%m/%Y %H:%M") %></td>
	<td><%= trip.number %></td>
	<td><%= Station.find(trip.origin_id).name %></td>
	<td><%= Station.find(trip.destination_id).name %></td>
	<td><%= link_to '<i class="fa fa-eye" aria-hidden="true"></i> Show'.html_safe, trip, class:"pull-right btn btn-xs btn-info" %></td>
	<td><%= link_to '<i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit'.html_safe, edit_trip_path(trip), class:"pull-right btn btn-xs btn-warning" %></td>
  	<td><%= link_to '<i class="fa fa-trash-o" aria-hidden="true"></i> Delete'.html_safe, trip,
               method: :delete,
               data: { confirm: 'Are you sure?' }, class:"pull-right btn btn-xs btn-danger" %></td>
</tr>