<%= form_for(@track) do |f| %>
  <% if @track.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@track.errors.count, "error") %> prohibited this track from being saved:</h2>

      <ul>
      <% @track.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="input-group stpad">
    <span class="input-group-addon addon3">Number</span>
    <%= f.text_field :number, class:"form-control" %>
  </div>

  <div class="input-group stpad">
    <span class="input-group-addon addon3">Station</span>
    <%= f.select :station_id, options_for_select(@station_options,:selected=>@track.station_id),{}, {:class => 'form-control'} %>
  </div>

  <div class="input-group stpad">
    <span class="input-group-addon addon3">Info</span>
    <%= f.text_area :info, class:"form-control", :rows => "2",placeholder:"Optional" %>
  </div>


  <br>
  <div class="text-center stpad">
    <%= link_to '<i class="fa fa-arrow-left" aria-hidden="true"></i> Cancel'.html_safe, tracks_path, class:"btn btn-default" %>
    <button role="button" type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-send"></i> Submit</button>

  </div>
<% end %>
