<% trip = Trip.find(departure.trip_id) %>
<tr>
	<td><%= departure.updated_at.strftime("%d/%m/%Y %H:%M") %></td>
	<td><%= Station.find(trip.origin_id).name %></td>
	<td><%= trip.number %></td>
	<td><%= Station.find(trip.destination_id).name %></td>
	<td><%= departure.scheduledtime.strftime("%d/%m/%Y %H:%M") %></td>
	<td><%= departure.lateness %></td>
	<td><%= departure.track_id ? Track.find(departure.track_id).number : ""%></td>
	<td><%= Status.find(departure.status_id).given %></td>
	<td><%= link_to '<i class="fa fa-eye" aria-hidden="true"></i> Show'.html_safe, departure, class:"pull-right btn btn-xs btn-info" %></td>
	<td><%= link_to '<i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit'.html_safe, edit_departure_path(departure), class:"pull-right btn btn-xs btn-warning" %></td>
  	<td><%= link_to '<i class="fa fa-trash-o" aria-hidden="true"></i> Delete'.html_safe, departure,
               method: :delete,
               data: { confirm: 'Are you sure?' }, class:"pull-right btn btn-xs btn-danger" %></td>
</tr>